<%= form_for(@user) do |f| %>
	<div class="login-div">
	<ul>
		<li>
			Name: <%= f.text_field :name %>
		</li>
		<li>
			Email: <%= f.text_field :email %>
		</li>
		<li>
			Photo (url) <%= f.text_field :photo %>
		</li>
		<li>
			Password: <%= f.password_field :password %>
			<br/>
			Password Confirmation: <%= f.password_field :password_confirmation %>
		</li>
		<li>
			Are you a Farmer? <%= f.check_box :farmer_access %>
		</li>
	</ul>
	<%= submit_tag "Submit" %>
	</div>
<% end %>
