<% if current_user.id == @user.id %>
<h2>User Information </h2>

<div class="info-box" id="user-box">
	<strong> User Name: </strong>
	<%= @user.name %>
	<br/>
	<strong>Email:</strong>
	<%= @user.email %>
	<%= link_to 'Edit Profile', edit_user_path(@user) %> |
</div>
<% if @farmer != nil && current_user.id == @farmer.user_id %>
	<div class="info-box" id="farmer-box">
		<strong> Farm Page Name: </strong>
		<%= @farmer.name %>
		<br/>
		<strong>Farm Email:</strong>
		<%= @farmer.email %>
		<br/>
		<strong>Farm Email:</strong>
		<%= @farmer.website %>
		<%= link_to 'Edit Farm Page', "/markets/#{@farmer.market_id}/farmers/#{@farmer.id}/edit" %> |
	</div>
<% end %>
<footer>
	<div class="nav-bot">
		<%= link_to 'Back to the Markets', markets_path %>
	</div>
</footer>
<% else %>
	<%= render 'deny'%>
	<footer>
		<div class="nav-bot">
			<%= link_to 'Back to the Markets', markets_path %>
		</div>
	</footer>
<% end %>
