<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <title>What's Fresh? App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_user %>
	Signed in as <%= current_user.name %> | <%= link_to 'logout', '/logout' %>
<% else %>
	<%= link_to 'login', '/login' %> || <%= link_to 'signup', 'users/new' %>
<% end %>

<%= yield %>

</body>
</html>
