<%= form_for :farmer do |f| %>

<% if @farmer.errors.any? %>
	<div id="error_message">
		<h2>
			<%= pluralize(@farmer.errors.count,"error") %>
		</h2>
		<ul>
			<% @farmer.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
	<div class="login-div">
	<ul>
		<li>
			<%= f.label :name %><br>
			<%= f.text_field :name %><br/>
		</li>
		<li>
			<%= f.label :email %><br>
			<%= f.text_field :email %><br/>
		</li>
		<li>
			<%= f.label :website %><br>
			<%= f.text_field :website %><br/>
		</li>
		<li>
			<%= f.label :small_desc %>
			<%= f.text_field :small_desc %>
		</li>
		<li>
			<%= f.label :photo %>
			<%= f.text_field :photo %>
		</li>
		<li>
			<%= f.label :description %>
			<%= f.text_area :description %>
		</li>
	</ul>
	<%= submit_tag "Submit" %>
	</div>
<% end %>





























.
