<div class="info-bar">
<ul>
	<li>
<%= @market.location %>
	</li>
	<li>
<%= @market.hours %>
	</li>
	<li>
<%= @market.website %>
	</li>
</ul>
</div>
<div class="main-section">
	<h2> <%= @market.name %> </h2>
	<p>
		<%= @market.description %>
	</p>
	<div class="main-list">
		<% @farmer.each do |frmr| %>
			<% if frmr.market_id == @market.id %>
			<h3><%= frmr.name %></h3>
			<div class="farmer-contacts">
				<ul>
					<li>
						<%= frmr.email %>
					</li>
					<li>
						<%= frmr.website %>
					</li>
				</ul>
			</div>
			<p>
				<%= frmr.small_desc%>
			</p>
			<% end %>
		<% end %>
	</div>
	<div class="bottom-text">
		<p>
			Are you a vendor at this market?<br/>
			<%= link_to "Create your own What's Fresh Page here!", new_market_farmer_path(@market.id)%>
		</p>
	</div>
</div>
<footer>
	<div class="nav-bot">
		<%= link_to 'Back', markets_path%>
	</div>
</footer>
