<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <title>What's Fresh: The Farmers' Market Hub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="head-box">
		<% if current_user %>
			Signed in as <%= current_user.name %>
			<br/>
			<%= link_to "My Profile", user_path(current_user.id) %> | <%= link_to 'logout', logout_path %>
		<% else %>
			<%= link_to 'login', login_path %> || <%= link_to 'signup', new_user_path %>
		<% end %>
	</div>
</header>


<%= yield %>

</body>
</html>
